body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    
}

.img-card{
    background-image: url("https://static.vecteezy.com/system/resources/previews/026/182/148/non_2x/illustration-of-mecca-for-hajj-al-haram-mosque-kaaba-in-saudi-arabia-on-blue-sky-free-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h2{
    /* font-size: 40px; */
}

label{
    font-size: 20px;
}

input{
    border: 1px solid black;
    height: 40px;
    padding: 20px;
    width: 100%;
    /* margin: 10px; */
}

.namaz-card{
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.history-card{
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.profile-card{
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.label-radio{
    font-size: 12px;
}

.radio-card input{
    transform: scale(0.5);
}